# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE Settings
.idea/
.vscode/
*.swp
*.swo

# OS Data
.DS_Store
